 body {
         margin-top: 50px;
         margin-bottom: 50px;
         background: url(/img/background.jpg) no-repeat center center fixed; 
   		 -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
 }
                          h1, h4
                          {
                          font-family: 'Cabin', cursive;
                            font-weight:bold;
                            codlor:#fff;
                          }
                          .lead
                          
                          {
                          color:#267E0C;
                          }
                          
                          .navbar, .modal-dialog
                          {
                          
                          opacity: .7;
                          }
                          
                        .modal-dialog
                          {
                          
                          opacity: .9;
                          }
                          
                          
                          
                  .modal-header-success {
                color:#fff;
                padding:9px 15px;
                border-bottom:1px solid #eee;
                background-color: #43ac6a;
            
            }
                  .modal-header-primary {
            	color:#fff;
                padding:9px 15px;
                border-bottom:1px solid #eee;
                background-color: #008cba;
                -webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-topright: 5px;
                 border-top-left-radius: 5px;
                 border-top-right-radius: 5px;
            }